@import "tailwindcss";

/* Тёмные скроллбары */
* {
  scrollbar-width: thin;
  scrollbar-color: #334155 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}